/* navbar.component.scss */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f2f2f2;
  }
  
  
  .navbar-brand {
    font-weight: bold;
  }
  
  .navbar-links {
    display: flex;
    gap: 20px;
  }
  
  .navbar-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .navbar-item {
    margin-right: 10px;
  }
  
  .navbar-link {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: background-color 0.3s;
  
    &:hover {
      background-color: #ff0000;
      color: #fff;
    }
  }
  
  .navbar-search {
    display: flex;
    align-items: center;
  }
  
  .search-input {
    padding: 5px;
    border: none;
    border-radius: 5px;
  }
  
  .search-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
  }
  
  .fa-search {
    color: #333;
  }
  
  @media (max-width: 767px) {
    .navbar-links {
      display: none;
    }
  
    .navbar-search {
      display: flex;
      align-items: center;
    }
  
    .navbar-search input {
      display: none;
    }
  
    .navbar-search button {
      margin-left: 10px;
    }
  
    .navbar-search--active input {
      display: block;
    }
  }
.show{
    display: block;
}
.hide{
    display: none;
}
.flex-container {
    display: flex;
    flex-direction: row;
  }
  .curser{
    cursor: pointer;
  }
  .wid{
    width: auto !important;
    display: none;
}
